* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 850px;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }    
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #5c67f2;
    font-weight: 500;
}

.input-form input {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-form input:focus{
    border-color: #5c67f2;
    outline: none;
}

.input-form button {
    padding: 12px;
    width: 100%;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.input-form button:hover {
    background-color: #4a55d4;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s, transform 0.3s;
}
li:hover {
    background-color: #f0f0f5;
    transform: scale(1.02);
}

li button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

li button:hover {
    opacity: 0.8;
}

.done-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.update-button {
    background-color: #FFA500; /* Orange */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.remove-button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.link-button {
    background-color: #176bda;
    /* Orange */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.aksi {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
